
div(style="display: flex; flex-direction: column; align-items: center; text-align: center; max-width: 440px; margin: auto")
	h2 We are glad you joined our Ticketing system application, #{name}
	b Press click on the button below to verify your accaunt
	br
	a(href=`${host}/auth/verify/${token}`  target='_blank' style='color: #FFFFFF; background: #007c89; padding: 16px; text-decoration:none; cursor: pointer') Verify accaunt
	br
	h4 (Verification link is active for 6 hours)
